In [1]:
import numpy as np
import pandas as pd

import sys
sys.path.append('../Burst')

from scores import calculate_scores
from trains import *

In [2]:
# sys.path

## Load data

In [3]:
route= "/data/home/hhy797/scratch/GOLD/health events/"
df = pd.read_csv(route+"health_events_filtered.csv", low_memory=False, nrows=100000)

In [4]:
df.head()

,patid,age_days,term,termcode,ltc,dob,eventdate,medcode,readcode
0,110001,20454,Hypertension,204,1,1930-01-01,1986-01-01,204.0,G2...00
1,110001,20454,Viral labyrinthitis,1058,0,1930-01-01,1986-01-01,1058.0,F563500
2,110001,20454,Adenomatous polyp - cervix uteri,1340,0,1930-01-01,1986-01-01,1340.0,B790.11
3,110001,20454,Hypertension,799,1,1930-01-01,1986-01-01,799.0,G20..00
4,110001,22393,Female genital prolapse,211,1,1930-01-01,1991-04-24,211.0,K510000

## Calculate burst parameter, and memory coefficients.

In [5]:
# calculate scores

calculate_scores(df, 'patid', 'age_days')

,patid,Bscore,MCpearson,MCspearman,IET
0,110001,0.249879,0.378991,0.179191,"[1939, 477, 139, 84, 5, 140, 199, 139, 75, 584..."
1,110015,0.434762,0.103204,0.104108,"[1668, 63, 249, 186, 20, 691, 44, 107, 8, 28, ..."
2,110018,0.613240,0.766216,0.363320,"[9523, 5451, 98, 1773, 1181, 399, 470, 29, 539..."
3,110025,0.460218,-0.109080,0.208728,"[546, 302, 122, 2047, 12, 38, 47, 2396, 4, 106..."
4,110027,0.379946,0.168999,-0.267784,"[3954, 990, 29, 1703, 78, 35, 117, 35, 451, 58..."
...,...,...,...,...,...
672,710149,0.783034,-0.034458,-0.018254,"[10737, 1, 27, 307, 119, 7, 247, 139, 132, 2, ..."
673,710152,0.179528,-0.214953,-0.092954,"[3, 694, 288, 104, 14, 9, 19, 77, 646, 63, 85,..."
674,710153,0.147084,0.103219,0.104860,"[93, 7, 1, 132, 62, 129, 39, 122, 210, 33, 12,..."
675,710154,0.155481,0.425076,0.107675,"[1096, 274, 281, 517, 473, 362, 217, 84, 91, 2..."
676,710158,0.566899,0.321408,0.357729,"[365, 2192, 1105, 29, 62, 414, 57, 7, 21, 48, ..."

## Detect trains

In [6]:
train_df = train_detection(df, 30, 'patid', 'age_days') #data, threshold, subject_id, time

In [7]:
train_df

,patid,age_days,term,termcode,ltc,dob,eventdate,medcode,readcode,cluster_id
0,110001,20454,Hypertension,204,1,1930-01-01,1986-01-01,204.0,G2...00,1
1,110001,20454,Viral labyrinthitis,1058,0,1930-01-01,1986-01-01,1058.0,F563500,1
2,110001,20454,Adenomatous polyp - cervix uteri,1340,0,1930-01-01,1986-01-01,1340.0,B790.11,1
3,110001,20454,Hypertension,799,1,1930-01-01,1986-01-01,799.0,G20..00,1
4,110001,22393,Female genital prolapse,211,1,1930-01-01,1991-04-24,211.0,K510000,0
...,...,...,...,...,...,...,...,...,...,...
99995,710158,28204,Primary malignancy kidney and ureter,Z85.5,1,1936-01-01,2013-03-21,NaN,NaN,30
99996,710158,28204,Other psychoactive substance misuse,Z86.4,1,1936-01-01,2013-03-21,NaN,NaN,30
99997,710158,28204,Primary malignancy lung and trachea,C34.1,1,1936-01-01,2013-03-21,NaN,NaN,30
99998,710158,28204,Secondary and unspecified malignant neoplasm: ...,C77.2,0,1936-01-01,2013-03-21,NaN,NaN,30
99999,710158,28204,Secondary malignancy and metastasis,C78.7,1,1936-01-01,2013-03-21,NaN,NaN,30

## Calculate scores of trains

In [9]:
calculate_scores_train(train_df, 'patid', 'age_days')

/data/home/hhy797/.local/lib/python3.9/site-packages/scipy/stats/_stats_py.py:5445: ConstantInputWarning: An input array is constant; the correlation coefficient is not defined.
  warnings.warn(stats.ConstantInputWarning(warn_msg))

,patid,cluster_id,Bscore,MCpearson,MCspearman,IET
0,110001,0,-0.090778,0.201876,0.172314,"[477, 139, 84, 5, 140, 199, 139, 75, 584, 358,..."
1,110001,1,NaN,NaN,NaN,[]
2,110001,11,-1.000000,NaN,NaN,[1]
3,110001,12,NaN,NaN,NaN,[]
4,110001,16,-0.898985,NaN,NaN,"[13, 15]"
...,...,...,...,...,...,...
6040,710158,23,-0.288888,1.000000,1.000000,"[8, 4, 2]"
6041,710158,24,-1.000000,NaN,NaN,[4]
6042,710158,26,NaN,NaN,NaN,[]
6043,710158,28,-1.000000,NaN,NaN,[29]
6044,710158,30,-0.146179,0.103784,0.286313,"[3, 7, 9, 14, 15, 6, 19, 7, 2, 6, 2, 6, 8, 28]"

## Train information

In [8]:
calculate_train_info(train_df, 'patid', 'age_days', 'eventdate')

,patid,cluster_id,eventcounts,termcounts,iet_days,train_startdays,train_enddays,train_start,train_end,total_clusters
0,110001,0,40,48,"[477, 139, 84, 5, 140, 199, 139, 75, 584, 358,...",22393,28974,1991-04-24,2009-04-30,11
1,110001,1,1,4,[],20454,20454,1986-01-01,1986-01-01,11
2,110001,11,2,5,[1],26922,26923,2003-09-17,2003-09-18,11
3,110001,12,1,4,[],27167,27167,2004-05-19,2004-05-19,11
4,110001,16,3,4,"[13, 15]",29345,29373,2010-05-06,2010-06-03,11
...,...,...,...,...,...,...,...,...,...,...
6040,710158,23,4,5,"[8, 4, 2]",26782,26796,2009-04-29,2009-05-13,17
6041,710158,24,2,7,[4],26829,26833,2009-06-15,2009-06-19,17
6042,710158,26,1,8,[],27173,27173,2010-05-25,2010-05-25,17
6043,710158,28,2,7,[29],27526,27555,2011-05-13,2011-06-11,17
6044,710158,30,15,129,"[3, 7, 9, 14, 15, 6, 19, 7, 2, 6, 2, 6, 8, 28]",28072,28204,2012-11-09,2013-03-21,17